Options -Indexes
DirectoryIndex public/index.php index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^$ /CME/school-proyect-/public/ [R=302,L]
    RewriteRule ^(config|templates|docs)(/|$) - [F,L]
    RewriteRule ^src/$ - [F,L]
    RewriteRule ^(\.git|\.env|\.gitignore|README\.md|diagrama\ arbol\.md|T3_.*\.mp4)$ - [F,L]
</IfModule>
